.transaction-summary {
    margin: 10px;

    .ant-card {
        border-radius: 10px;
        
        &-body {
            background: #fffcf6;
            border-radius: 10px;
        }
    }

    .icon {
        display: flex;
        background: #ffe7e0;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 10px;
    }

    .ant-statistic {
        line-height: 26px;

        &-title {
            margin: 0;
        }
    }
}